*
	margin: 0
	padding: 0
	box-sizing: border-box

////
// SIDEBAR
////
.db-sidebar
	background: #34495e
	position: fixed
	left: 0
	top: 0
	width: $sidebar-width
	height: 100%

.db-avatar
	background: $green


	

////
// CONTAINER
////
.db-container
	margin-left: $sidebar-width